{deps, [
    {meck, {git, "http://github.com/eproxus/meck.git", {tag, master}}}
]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info]}
    ]}
]}.

{xref_checks, [
    deprecated_functions,
    deprecated_function_calls,
    locals_not_used,
    undefined_functions,
    undefined_function_calls
]}.

{eunit_opts, [
    no_tty
]}.
